html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #FFF;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 14px;
}

#header {
  display: flex;
  padding: 10px;
}

#title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#title h1 {
  margin: 0px;
  font-weight: 500;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
    font-weight: 500;
    font-family: "neue-haas-grotesk-display", sans-serif;

}

#cv .label {
  font-family: "coordinates-variable", sans-serif;
  font-weight: 500;
}

#explanation {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.blank {
  flex: 1;
}

#portfolio {
  display: flex;
  padding-bottom: 250px;
}

#footer {
  position: fixed;
  bottom: 0;
  background: white;
  padding: 20px 10px;
  display: flex;
  width: 100%;
}

#bio {
  flex: 1;
  padding-right: 20px;
}

#education {
  flex: 1;
  padding-right: 20px;
}

#info {
  flex: 1;
  padding-right: 20px;
}

#artist-bio {
  display: flex;
  margin: 10px;
}

#photo {
  flex: 1;
}

#photo img {
  width: 100%;
}

#statement {
  flex: 3;
  margin-left: 20px;
  margin-top: 0px;
}

.col {
  width: 49%;
  margin: 10px;
}

.col:first-of-type {
  margin-right: 0px;
}

.desc p:first-of-type {
margin-top: 0px;
}

.portfolio-img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: contain;
  cursor: zoom-in;
}

.portfolio-img img {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  /* width: 80%;
  max-width: 1200px; */
}

.slide {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.image-slide {
	height: 95vh;
  width: 85vw;
  object-fit: contain;
}

.modal-preview {
	width: 100%;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.preview, img.modal-preview {
  opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: 400;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: darkslategrey;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
}

ul {
  margin-left: -26px;
  margin-top: 0px;
}

#cv {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
  background: rgb(255, 251, 248);
}

#cv .row {
  display: flex;
  margin: 10px;
}


.role {
  flex: 1;
  font-family: "coordinates-variable", sans-serif;
  font-weight: 500;
}

.date {
  flex: 2;
  font-family: "coordinates-variable", sans-serif;
  font-weight: 500;
}

.desc {
  flex: 3;
}

@media (max-width: 600px) {
.image-slide { 
  width: 95vw;
  height: auto;
}
  
  #header {
    flex-direction: column;
  }

  #footer {
    position: relative;
    width: auto;
  }

  .blank {
    flex: 0;
  }

  .previous, .next {
    top: inherit;
    bottom: 10px;
  }

  #portfolio, #cv {
    padding-bottom: 0px;
  }

  #cv .row {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .role, .date {
    padding-bottom: 10px;
  }
}